// Fonts
@import "./../fonts/coolvetica/stylesheet.scss";
@import "./../fonts/notosans_regular_macroman/stylesheet.scss";
@import "./../fonts/notosans_bold_macroman/stylesheet.scss";
@import "./../fonts/icomoon/style.scss";

$font-display: 'coolveticaregular', Arial, Helvetica, sans-serif;
$font-regular: 'noto_sansregular', Arial, Helvetica, sans-serif;
$font-bold: 'noto_sansbold', Arial, Helvetica, sans-serif;

$font-size-9: 0.5625rem;
$font-size-12: 0.75rem;
$font-size-16: 1rem;
$font-size-21: 1.3125rem;
$font-size-28: 1.75rem;
$font-size-37: 2.3125rem;
$font-size-50: 3.125rem;
$font-size-67: 4.1875rem;
$font-size-89: 5.5625rem;

.font-size-9 {
    font-size: $font-size-9;
}
.font-size-12 {
    font-size: $font-size-12;
}
.font-size-16 {
    font-size: $font-size-16;
}
.font-size-21 {
    font-size: $font-size-21;
}
.font-size-28 {
    font-size: $font-size-28;
}
.font-size-37 {
    font-size: $font-size-37;
}
.font-size-50 {
    font-size: $font-size-50;
}
.font-size-67 {
    font-size: $font-size-67;
}
.font-size-89 {
    font-size: $font-size-89;
}

$logo-size:          3rem;
$logo-size-bigger:   4rem;
$logo-size-biggest:  4.5rem;

$logo-text-padding: 1rem;
$logo-text-padding-bigger: 1rem;

$navbar-padding-y-bigger:  0.85rem;
$navbar-padding-y-biggest:  1.2rem;

.padded-multiline {
  line-height: 1.4;
}

.padded-multiline span {
  background-color: white;
  display: inline;
  padding: 0.4rem 0.9rem;

  /* Needs prefixing */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

// Cards
$card-padding: 1.8rem;

// Bootstrap Overrides

$body-color:                  #343a40;
$border-width:                2px;
$border-radius:               .4rem;
$border-radius-lg:            .5rem;
$border-radius-sm:            .3rem;
$input-border-color:          #e1e1e1;
$input-btn-padding-y:         .4rem !default;
$input-btn-padding-x:         1rem !default;
