$color-dot-size: 0.5rem;



.color-dot {
  display: inline-block;
  width: $color-dot-size;
  height: $color-dot-size;
  border-radius: $color-dot-size;
  margin: 0;

  &.lilac {
    background-color: #b195c6;
  }
  &.yellow {
    background-color: #ffdb00;
  }
  &.red {
    background-color: #e44145;
  }
  &.white {
    background-color: white;
    border: 2px solid lightgray;
    // box-shadow: inset 0 0 0 1px #e1e1e1, 0 0 0 1px #e1e1e1;
  }
  &.blue {
    background-color: #39b7ea;
  }
  &.mint {
    background-color: #5ec4b7;
  }
  &.black {
    background-color: #363433;
  }
  &.orange {
    background-color: #ff8a47;
  }
  &.pink {
    background-color: #f6a6bf;
  }
  &[class*="holo"]{
    width: $color-dot-size*2;
  }
  &.holo-opal {
    background: linear-gradient(to right, wheat, thistle);
  }
  &.holo-blue {
    background: linear-gradient(to right, lightpink, lightblue);
  }
}

[data-toggle=tooltip] {
  margin-left: 0.2rem;
}
